html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
 overflow: hidden;
}

dialog { 
  text-align: center; 
}

canvas.fullscreen { 
  width: 100vw; 
  height: 100vh; 
}

div#hud{
  position: absolute;
  top: 0px;
  left: 5px;
  background-color: hsla(240, 80%, 50%, 50%);
  color: azure;
}